.root {
    -fx-background-color: #1a1410; /* deep coffee black */
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-text-fill: #e8d8c3;
}

#media, #utils {
    -fx-background-color: #2a1f1a; /* moka body */
    -fx-background-radius: 10;
    -fx-padding: 10;
}

.button {
    -fx-background-color: #3a2a22;
    -fx-text-fill: #f2e6d9;
    -fx-background-radius: 8;
    -fx-padding: 8 12;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #5a3d2e; /* warm hover */
}

.button:pressed {
    -fx-background-color: #7a4f3a;
}

.hbox {
    -fx-background-color: #221a16;
}

.button:focused {
    -fx-border-color: #c89b6d;
    -fx-border-width: 1;
}

.slider .track {
    -fx-background-color: #3a2a22;
}

.slider .thumb {
    -fx-background-color: #c89b6d; /* coffee gold */
    -fx-background-radius: 50%;
}
.label {
    -fx-text-fill: #f2e6d9;
}

#trackSlider .track {
    -fx-background-color: #2f221c;
}

#trackSlider .thumb {
    -fx-background-color: #d2a679;
}

#contentArea {
    -fx-background-color: #15100d;
}

#btnPlay {
    -fx-background-color: #c89b6d;
    -fx-text-fill: #1a1410;
    -fx-font-weight: bold;
}

#btnPlay:hover {
    -fx-background-color: #d6ad7c;
}

#btnFavorite {
    -fx-background-color: transparent;
    -fx-text-fill: #c89b6d;
}

#btnFavorite:hover {
    -fx-text-fill: #f2e6d9;
}

.separator {
    -fx-background-color: #3a2a22;
}

.text-field{
    -fx-background-color: #3a2a22;
    -fx-text-fill: #f2e6d9;
    -fx-padding: 8 12;
    -fx-cursor: pencile;
}
.list-view {
    -fx-background-color: #1a1410; /* Match root background */
    -fx-background-insets: 0;
    -fx-padding: 5;
    -fx-border-color: #3a2a22;
    -fx-border-width: 1;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #e8d8c3; /* Creamy text */
    -fx-padding: 8 12;
    -fx-font-size: 13px;
}

.list-cell:hover {
    -fx-background-color: #2a1f1a;
    -fx-text-fill: #f2e6d9;
}

.list-cell:filled:selected {
    -fx-background-color: #c89b6d; /* Coffee Gold */
    -fx-text-fill: #1a1410;       /* Dark text for contrast */
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: #c89b6d;
}

.list-cell:empty {
    -fx-background-color: transparent;
    -fx-cursor: default;
}